In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [4]:
df.iloc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [ ]:
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

answer:
In Pandas, both loc and iloc are used for accessing data in a DataFrame, but they have different methods of indexing.

loc: This is primarily label-based indexing. It is used when you want to access a group of rows and columns by labels 
or boolean array. You can pass row labels and column labels to the loc function to access specific rows and columns 
    based on their labels.
iloc: This is primarily integer-based indexing. It is used when you want to access a group of rows and columns by 
integer position. You can pass integer-based row and column indices to the iloc function to access specific rows and
columns based on their integer positions.

In [ ]:
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [6]:
df1=df.reindex([3,0,1,2])

In [7]:
df1.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [9]:
df1.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
new_df.loc[2]: This will access the row with the label/index 2 in the DataFrame new_df. 
Since we have reindexed the DataFrame, 2 is now a label/index, not a positional index. 
It will return the row with the label/index 2.

new_df.iloc[2]: This will access the row at the positional index 2 in the DataFrame new_df. 
Since iloc is used for integer-based indexing, it accesses rows based on their positional index,
not their label/index. It will return the row at the position 2 after reindexing.

In [ ]:
So, if there's a difference in the outputs, it's because loc considers labels/indices, while iloc considers 
positional indices. If the DataFrame is reindexed differently, loc and iloc may give different results even for
the same numerical index. In this case, since we have reindexed the DataFrame, loc[2] accesses the row with the
label/index 2 after reindexing, while iloc[2] accesses the row at the position 2 after reindexing.

In [10]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.051779  0.809817  0.513468  0.496145  0.819362  0.660050
2  0.593574  0.402706  0.327123  0.994167  0.239109  0.383687
3  0.710153  0.342833  0.356370  0.122618  0.565178  0.199307
4  0.965913  0.273589  0.196100  0.629059  0.267416  0.072403
5  0.003192  0.520929  0.555377  0.006775  0.854801  0.643322
6  0.140328  0.471166  0.695986  0.265073  0.975836  0.681666

In [12]:
df1.mean()

column_1    0.410823
column_2    0.470173
column_3    0.440737
column_4    0.418973
column_5    0.620284
column_6    0.440073
dtype: float64

In [15]:
df1['column_2'].std()

0.18833355297838325

In [ ]:
d2=['sohan','jammula','sudhanshu','pwskills','ajay','adapally']

In [24]:
d2=df1.loc[2]

In [28]:
d2.mean()

0.49006103023415526

In [ ]:
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

answer:
In Pandas, the "window" functions refer to a set of operations that can be applied to rolling or expanding windows of data 
in a DataFrame or Series. These functions are commonly used in time series analysis and other types of data analysis where
    you want to perform calculations over moving windows of data.

The main types of window functions in Pandas are:

Rolling Window Functions:

These functions compute aggregate statistics (e.g., mean, sum, min, max) over a specified window of consecutive observations.
The window can be defined by either the number of observations (window) or a specific period of time 
    (window with a freq parameter).
Examples include rolling.mean(), rolling.sum(), rolling.min(), rolling.max(), etc.
Expanding Window Functions:

These functions compute aggregate statistics over all data points up to the current point in time.
The size of the window increases with each observation.
Examples include expanding.mean(), expanding.sum(), expanding.min(), expanding.max(), etc.
Exponentially Weighted Moving Average (EWMA):

These functions compute exponentially weighted moving averages over a specified window.
Unlike rolling windows, where all observations have equal weight, EWMA gives more weight to recent observations and 
    less weight to older observations.
Example: ewm.mean().

In [ ]:
Q7. Write a code to print only the current month and year at the time of answering this question.

In [29]:
from datetime import datetime

# Get the current date and time
current_date = datetime.now()

# Extract the month and year from the current date
current_month = current_date.strftime('%B')  # Full month name
current_year = current_date.year

# Print the current month and year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: March
Current year: 2024

In [ ]:
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

answer:

In [30]:
import pandas as pd

In [37]:
def difference_dates(start_date,end_date):
    start_date=pd.to_datetime(start_date)
    end_date=pd.to_datetime(end_date)
    difference = end_date - start_date
    days=difference.days
    hours=difference.seconds // 3600
    minutes=(difference.seconds%3600) // 60
    return days,hours,minutes

start_date=input("enter the starting date (yyyy-mm-dd):")
end_date=input("enter the end date (yyyy-mm-dd):")

day_difference,hour_difference,minutes_difference = difference_dates(start_date,end_date)
print("time difference ")
print("difference of days ",day_difference)
print("hour difference ",hour_difference)
print("minutes difference ",minutes_difference)

enter the starting date (yyyy-mm-dd): 2022-06-12
enter the end date (yyyy-mm-dd): 2022-09-14

time difference
difference of days  94
hour difference  0
minutes difference  0

In [ ]:
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

def main():
    # Prompt the user for the file path, column name, and category order
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert: ")
    category_order = input("Enter the category order (comma-separated): ")

    # Read the CSV file into a DataFrame
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print(f"File not found at {file_path}. Please check the file path and try again.")
        return

    # Convert the specified column to a categorical data type
    try:
        df[column_name] = df[column_name].astype('category')
    except KeyError:
        print(f"Column '{column_name}' not found in the CSV file. Please check the column name and try again.")
        return

    # Set the category order
    category_order_list = category_order.split(',')
    df[column_name] = df[column_name].cat.set_categories(category_order_list)

    # Display the sorted data
    sorted_df = df.sort_values(by=column_name)
    print(sorted_df)

if __name__ == "__main__":
    main()

In [ ]:
Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd

path=input("enter the file path:")

df=pd.read_excel("path")
df.plot(x= 'time',y= 'sales')

In [ ]:
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85

In [ ]:
import csv

# Open the file in write mode ('w')
with open('persons.csv', 'w', newline='') as csvfile:
    filewriter = csv.writer(csvfile, delimiter=',', quotechar='|', quoting=csv.QUOTE_MINIMAL)
    filewriter.writerow([1, 85])
    filewriter.writerow([2, 90])
    filewriter.writerow([3, 80])
    filewriter.writerow([4, 75])
    filewriter.writerow([5, 85])
    filewriter.writerow([6, 82])
    filewriter.writerow([7, 78])
    filewriter.writerow([8, 85])
    filewriter.writerow([9, 90])
    filewriter.writerow([10, 85])

In [ ]:
import pandas as pd
df=pd.read_csv(persons.csv)
df.mean()
df.mode()