In [1]:
import pandas as pd

In [2]:
data1=[4,8,15,16,23,42]

In [5]:
series1=pd.Series(data1)

In [6]:
series1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
data2={"Name":["Alice","Bob","Claire"],
"Age":["25","30","27"],
"Gender":["Female","Male","Female"]}

In [12]:
df=pd.DataFrame(data2)

In [13]:
df

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

answer:
In Pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns).
It can be thought of as a spreadsheet or SQL table, where data is stored in rows and columns. Each column in a DataFrame is a Pandas Series.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, float, string, etc.). 
It is similar to a one-column DataFrame but without column names, although it does have an index.

Here's a breakdown of the differences between DataFrame and Series:

Dimensionality:

DataFrame: Two-dimensional (rows and columns).
Series: One-dimensional (single column of data).
Mutability:

DataFrame: Size-mutable (can add or remove rows and columns).
Series: Size-immutable (once created, the size cannot be changed).
Heterogeneity:

DataFrame: Can contain columns of different data types.
Series: Contains data of a single data type.
Labeling:

DataFrame: Both rows and columns are labeled.
Series: Only has one set of labels (the index).
Methods and Attributes:

DataFrame: Contains methods and attributes specific to two-dimensional data structures, such as df.head(), df.info(), and df.describe().
Series: Contains methods and attributes specific to one-dimensional data structures, such as series.mean(), series.unique(), and series.value_counts().

In [1]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Seattle']}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

# Creating a Series
ages = pd.Series([25, 30, 35], name='Age')
print("Series:")
print(ages)

DataFrame:
    Name  Age           City
0   John   25       New York
1  Alice   30  San Francisco
2    Bob   35        Seattle

Series:
0    25
1    30
2    35
Name: Age, dtype: int64

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

answer:
Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

head() and tail(): These functions allow you to view the first or last n rows of the DataFrame, respectively. 
They are helpful for quickly inspecting the structure and contents of the DataFrame.

info() and describe(): info() provides a concise summary of the DataFrame, including data types, non-null values, and memory usage.
describe() computes summary statistics for numerical columns, such as count, mean, standard deviation, minimum, and maximum values.

shape: This attribute returns a tuple representing the dimensions (rows, columns) of the DataFrame.

loc[] and iloc[]: These are used for indexing and selecting data. loc[] is label-based, meaning you specify rows and columns by their labels. 
iloc[] is integer-based, where you specify rows and columns by their integer index.

drop(): This function is used to drop rows or columns from the DataFrame. You can specify the axis (0 for rows, 1 for columns) and labels or 
index positions to drop.

fillna() and dropna(): fillna() is used to fill missing values in the DataFrame with specified values. dropna() is used to remove rows or columns
with missing values.

groupby(): This function is used to group data in the DataFrame based on specified criteria. It is often followed by an aggregation function
(e.g., sum(), mean()) to compute summary statistics for each group.

merge() and join(): These functions are used to combine multiple DataFrames based on common columns or indices.

sort_values(): This function sorts the DataFrame by the values of one or more columns.

apply() and applymap(): apply() is used to apply a function along an axis of the DataFrame. applymap() is used to apply a function element-wise to
each element of the DataFrame.

In [2]:
import pandas as pd

# Sample data
data = {'Product': ['A', 'B', 'A', 'B'],
        'Quantity': [10, 20, 15, 25],
        'Price': [5, 8, 6, 7]}

df = pd.DataFrame(data)

# Define a function to compute total sales
def compute_total(row):
    return row['Quantity'] * row['Price']

# Apply the function to each row and create a new column 'TotalSales'
df['TotalSales'] = df.apply(compute_total, axis=1)

print(df)

  Product  Quantity  Price  TotalSales
0       A        10      5          50
1       B        20      8         160
2       A        15      6          90
3       B        25      7         175

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

answer:

Among the options provided (Series, DataFrame, Panel), the mutable nature applies to DataFrame.

Series: Series objects in Pandas are immutable. Once created, you cannot modify the values or the index of a Series directly. However,
you can create a new Series with modified values.

DataFrame: DataFrame objects are mutable. You can modify the values, add or remove columns, and change the index or column labels of a DataFrame 
after it has been created.

Panel: Panels were a data structure in Pandas that allowed for three-dimensional data storage (items, major axis, and minor axis). However, 
Panels have been deprecated since version 0.25.0 of Pandas, and users are encouraged to use other data structures like DataFrame or MultiIndex 
DataFrame for similar functionality.

So, the correct answer is DataFrame.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

answer:

In [3]:
import pandas as pd

name_series = pd.Series(['John', 'Alice', 'Bob'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'San Francisco', 'Seattle'])

df = pd.DataFrame({
    'Name': name_series,
    'Age': age_series,
    'City': city_series
})

print(df)

    Name  Age           City
0   John   25       New York
1  Alice   30  San Francisco
2    Bob   35        Seattle

In [4]:
import pandas as pd

data = {'Name': ['John', 'Jane', 'Jim', 'Joan'],

        'Age': [25, 30, 35, 40],

        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}

df = pd.DataFrame(data)

print(df.loc[0])

Name              John
Age                 25
Occupation    Engineer
Name: 0, dtype: object